<head>
  <title> Listings </title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
</head>

<body id="listings">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark transparent" id="nav1">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

     

    <form action='/listings/new'>
  <input class="btn btn-primary" type='submit' value='Add new listing' />
</form> 
      
 <form action="/profile/<%="#{@currentuser.id}"%>" method= 'get'>
  <input class="btn btn-primary" input type="submit" value="View Profile">
</form> 
    
    </ul>
    <form action='/'>
    <input class="btn btn-primary" type='submit' value='Log Out'/>
  </form>
  </div>
</nav>

<center>
  <h1>  Welcome, <%=@currentuser.username%>  </h1>

  <div class="search-form" >
  <form action="/listings" method = 'post'>
    Start date:
    <input type="date" name="title"  required>

    End date:
    <input type="date" name="address" required>

    <input class="btn btn-secondary" type="submit" value="Search" disabled>
  </form>
  </div>

</center>

<center>
<table class="table-border" >
  <tr>
    <th colspan=2 ></th>
    <th>Address</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>PPN</th>
    <th></th>
  </tr>

    <% @properties.each do |property| %>
    <tr>
      <td> <img style="width: 150px; height: auto" src="<%= property.picture %>"> </td>
      <td> <%= property.title %> </td>
      <td> <%= property.address %> </td>
      <td> <%= property.description %> </td>
      <td> <%= property.start_date %> </td>
      <td> <%= property.end_date %> </td>
      <td> £<%= property.ppn %> </td>
      <td>
        <%if((property.ownerID).to_i==(@currentuser.id).to_i) %>
          You own this property and cannot book it.
        <%else%>
          <form action='/book/<%= property.id %>' method="get">
            <input class="btn btn-info" type='submit' value='Book now' />
          </form>
        <% end %>
      </td>
    </tr>
  <%end%>

  <tr>

  </tr>
</table>

</center>
</body>
