<head>
  <title> Listings</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e6f2ff;;
}
</style>
<body>

  <div style="background-color:#66b3ff"> <h1> <font color="white"> Welcome, <%=@currentuser.username%> </font> </h1></div>

  <table class="table-border">
    <tr>
      <th colspan="4"> <center> <h1> Action Bar </h1> </center> </th>
    </tr>

    <tr>
      <th> <center> <form action='/'>
            <input class="btn btn-primary" type='submit' value='Log Out'/>
            </form> </center>
      </th>

      <th> <center> <form action='/listings/new'>
            <input class="btn btn-primary" type='submit' value='Add new listing' />
            </form> </center>
      </th>

      <th>
          <center>  <form action="/profile/<%="#{@currentuser.id}"%>" method= 'get'>
            <input class="btn btn-primary" input type="submit" value="View Profile">
            </form> </center>
      </th>

      <th>

        <center>

        <h1>Search for Accomodation</h1>

        <form action="/listings" method = 'post'>
          Start date:
          <input type="date" name="title"  required>

          End date:
          <input type="date" name="address" required>

          <input class="btn btn-primary" type="submit" value="Search">
        </form>

        </center>

      </th>

    </tr>

  </table>

<div style="background-color:#66b3ff"> <h1> <font color="white"> Properties </font> </h1></div>

<table class="table-border" style="width:100%" >
  <tr>
    <th colspan=2 >Property</th>
    <th>Address</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>PPN</th>
    <th>Booking Details</th>
  </tr>

    <% @properties.each do |property| %>
    <tr>
      <td> <img style="width: 150px; height: auto" src="<%= property.picture %>"> </td>
      <td> <%= property.title %> </td>
      <td> <%= property.address %> </td>
      <td> <%= property.description %> </td>
      <td> <%= property.start_date %> </td>
      <td> <%= property.end_date %> </td>
      <td> £<%= property.ppn %> </td>
      <td>
        <%if((property.ownerID).to_i==(@currentuser.id).to_i) %>
          You own this property and cannot book it.
        <%else%>
          <form action='/book/<%= property.id %>' method="get">
            <input class="btn btn-primary" type='submit' value='Book now' />
          </form>
        <% end %>
      </td>
    </tr>
  <%end%>

  <tr>

  </tr>
</table>

</div>
</body>
