<head>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
</head>


<h1>User information: </h1>

<form action="/listings" method= 'get'>
  <input type="submit" value="Go Back">
</form>


<table class="table-border" style="width:25%" >

  <tr>
    <th>Username:</th>
    <th>Email:</th>
  </tr>
  <tr>
    <th><%=@profile_owner.username%></th>
    <th> <%=@profile_owner.email%></th>
  </tr>
</table>

<h1>Your booking requests: </h1>

<table class="table-border" style="width:25%" >
  <tr>
    <th>Property name:</th>
    <th>date:</th>
    <th>confirmed:</th>
  </tr>
  <% @requests.each do |request| %>
    <tr>
    <td> <%= request.propertyid %> </td>
    <td> <%= request.date%> </td>
    <td> <%= request.confirmed %> </td>
    </tr>
  <% end %>
</table>
