<head>
  <title> Listings</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<h1> <%=@profile_owner.username%>'s profile</h1>

<table class="table-border" style="width:25%" >

  <tr>
    <th>Username:</th>
    <th>Email:</th>
  </tr>
  <tr>
    <th><%=@profile_owner.username%></th>
    <th> <%=@profile_owner.email%></th>
  </tr>
</table>

<form action="/listings" method= 'get'>
  <input class="btn btn-secondary" type="submit" value="Go Back">
</form>
<h2> <%=@profile_owner.username%>'s properties</h2>




<table class="table-border" style="width:100%" >
  <tr>
    <th></th>
    <th>Title</th>
    <th>Address</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>PPN</th>
    <th></th>
  </tr>

    <% @profile_owner_properties.each do |property| %>
    <tr>
      <td> <img style="width: 150px; height: auto" src="<%= property.picture %>" > </td>
      <td> <%= property.title %> </td>
      <td> <%= property.address %> </td>
      <td> <%= property.description %> </td>
      <td> <%= property.start_date %> </td>
      <td> <%= property.end_date %> </td>
      <td> £<%= property.ppn %> </td>
      </tr>
    <% end %>

  <tr>

  </tr>
</table>

