<head>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }


  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
</head>

<h1><%=@profile_owner.username%>'s Profile Page! </h1>
<br>

<table class="table-border" style="width:25%" >

  <tr>
    <th>Username:</th>
    <th>Email:</th>
  </tr>
  <tr>
    <th><%=@profile_owner.username%></th>
    <th> <%=@profile_owner.email%></th>
  </tr>
</table>

<h2>Your properties: </h2>


<table class="table-border" style="width:100%" >

  <tr>
    <th></th>
    <th>Title</th>
    <th>Address</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>PPN</th>
    <th></th>
  </tr>

    <% @profile_owner_properties.each do |property| %>
    <tr>
      <td> <img style="width: 150px; height: auto" src="<%= property.picture %>" > </td>
      <td> <%= property.title %> </td>
      <td> <%= property.address %> </td>
      <td> <%= property.description %> </td>
      <td> <%= property.start_date %> </td>
      <td> <%= property.end_date %> </td>
      <td> £<%= property.ppn %> </td>
      </tr>
    <% end %>

  <tr>

  </tr>
</table>

<br>

<form action="/listings" method= 'get'>
  <input class="btn btn-primary" input type="submit" value="Go Back">
</form>

<h1>Your booking requests: </h1> <br>

<table class="table-border" style="width:25%" >
  <tr>
    <th>Property name:</th>
    <th>Date of request:</th>
    <th>confirmed:</th>
  </tr>
  <% @requests.each do |request| %>
    <tr>
    <td> <%= Property.access_via_id(request.propertyID).title %> </td>
    <td> <%= request.date%> </td>
    <td> <% if(request.confirmed=='t')%>
         Yes
         <%else%>
         No
         <%end%>
        </td>
    </tr>
  <% end %>
</table>

<h1>Booking requests that you need to confirm: </h1> <br>

<table class="table-border" style="width:25%" >
  <tr>
    <th>Property name:</th>
    <th>User trying to make request:</th>
    <th>Date of request:</th>
    <th> Confirm </th>
    <th> Delete </th>
  </tr>
  <% @requests_to_confirm.each do |request| %>
    <tr>
    <td> <%= Property.access_via_id(request.propertyID).title %> </td>
    <td> <%= User.access_via_id(request.guestID).username %> </td>
    <td> <%= request.date%> </td>
    <td>
      <%if(request.confirmed=='t')%>
        You have confirmed this booking!
      <%else%>
        <form action="/<%=request.id%>/confirm" method= 'POST'>
        <input type="hidden" name="_method" value="PATCH">
        <input type="submit" value="Confirm"> <br>
        </form>
      <%end%>
    </td>
      <td>
        <form action="/<%=request.id%>/delete" method= 'POST'>
        <input type="hidden" name="_method" value="PATCH">
        <input type="submit" value=Delete> <br>
        </form>
      </td>
  </tr>
  <%end%>
</table>
