<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
</head>

<body id="listings">

<nav class="navbar navbar-expand-sm navbar-dark bg-dark transparent" id="nav1">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <form action="/listings" method= 'get'>
    <input class="btn btn-dark" input type="submit" value="Go Back">
    </form>
    
    <form action='/listings/new'>
  <input class="btn btn-primary" type='submit' value='Add new listing' />
  </form> 
  
    </ul>
    <form action='/'>
    <input class="btn btn-primary" type='submit' value='Log Out'/>
  </form> 

  </div>
</nav>

<h1><%=@profile_owner.username%>'s Profile Page</h1>



<table class="table-border">
  <tr>
    <th colspan="2" ></th>
  </tr>

  <tr>
    <th>Username:</th>
    <th><%=@profile_owner.username%></th>
  </tr>
  <tr>
    <th>Email:</th>
    <th><%=@profile_owner.email%></th>
  </tr>
</table>

<% if @profile_owner_properties %>
<div class="profile-title">Your properties: </div>
<table >
  <tr>
    <th></th>
    <th></th>
    <th>Address</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>PPN</th>
  </tr>
    <% @profile_owner_properties.each do |property| %>
    <tr>
      <td> <img style="width: 150px; height: auto" src="<%= property.picture %>" > </td>
      <td> <%= property.title %> </td>
      <td> <%= property.address %> </td>
      <td> <%= property.description %> </td>
      <td> <%= property.start_date %> </td>
      <td> <%= property.end_date %> </td>
      <td> £<%= property.ppn %> </td>
      </tr>
    <% end %>
  <tr>
</tr>
</table>
<% end %>

<div class="profile-title">Your booking requests:</div> 
<table >
  <tr>
    <th>Property name</th>
    <th>Date of request</th>
    <th>confirmed</th>
  </tr>
  <% @requests.each do |request| %>
    <tr>
    <td> <%= Property.access_via_id(request.propertyID).title %> </td>
    <td> <%= request.date%> </td>
    <td> <% if(request.confirmed=='t')%>
         Yes
         <%else%>
         No
         <%end%>
        </td>
    </tr>
  <% end %>
</table>


<div class="profiletitle">Booking requests that you need to confirm: </div>

<table >
  <tr>
    <th>Property name</th>
    <th>User trying to make request</th>
    <th>Date of request</th>
    <th> Confirm </th>
    <th> Delete </th>
  </tr>
  <% @requests_to_confirm.each do |request| %>
    <tr>
    <td> <%= Property.access_via_id(request.propertyID).title %> </td>
    <td> <%= User.access_via_id(request.guestID).username %> </td>
    <td> <%= request.date%> </td>
    <td>
      <%if(request.confirmed=='t')%>
        You have confirmed this booking!
      <%else%>
        <form action="/<%=request.id%>/confirm" method= 'POST'>
        <input type="hidden" name="_method" value="PATCH">
        <input class="btn btn-success" type="submit" value="Confirm"> <br>
        </form>
      <%end%>
    </td>
      <td>
        <form action="/<%=request.id%>/delete" method= 'POST'>
        <input type="hidden" name="_method" value="PATCH">
        <input class="btn btn-danger" type="submit" value=Delete> <br>
        </form>
      </td>
  </tr>
  <%end%>
</table>


</body>
